
.about {
    min-height: 50vh;
    background-color: $bgcolor;
    color: white;
    padding:  20px 0;
    h1 {
        font-family: $curly;
        font-weight: 900;
        font-size: 12vw;
    }
}


@media (max-width:768px) {
    .about {
        
        p {
            text-align: center;
        }

        img {
            width: 80%;
            margin: auto 10%;
        }
    }
}