.contact {
    min-height: 50vh;
    background-color: $bgcolor;
    color: white;
    padding:  20px 0;
    h1 {
        font-family: $curly;
        font-weight: 900;
        font-size: 12vw;
        text-align: right;
    }

    input[type=text] , textarea{
        font-size: 13px;
        padding: 10px;
        border: 1px solid #FFF;
        color: #FFF; 
        background-color: transparent;
    
    }
    .btn-contact {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 0;
        color: white;
        padding: 10px 25px;
        text-decoration: none;
        font-size: 13px;

    }
}