header {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: $bgcolor;
    color: #cdcdcd;
    font-family: $oxygen;
   
    h1 {
        font-size: 9vw;
    }
    .tx-blue {
        color: #2679d5;
    }
}