nav {

    background-color: #00000a;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;

    .logo {
        font-family: $oxygen;
        color: white;
        font-size: 5vw;
    }

    .ham {
        display: grid;
        place-content: center;
        .one {
            width: 40px;
            height: 2px;
            background: #fff;
            display: block;
            margin-bottom: 6px;
            transform: rotate(135deg);
        }

        .two {
            width: 40px;
            height: 2px;
            background-color: #fff;
            display: block;
            margin-bottom: 6px;
            transform: rotate(135deg);
        }

        .three {
            width: 40px;
            height: 2px;
            background-color: #fff;
            display: block;
            transform: rotate(135deg);
        }
    }

    .main-nav {
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin: 10px;
                a {
                    color: white;
                    padding: 10px;
                }
            }
        }
    }

}

@media(max-width: 767px) {
    nav {
        border-bottom: 1px solid #cdcdcd;
    }
}