

.project {
    min-height: 50vh;
    background-color: $bgcolor;
    color: white;
    padding:  20px 0;
    h1 {
        font-family: $curly;
        font-weight: 900;
        font-size: 12vw;
    }
    .projects-list {
        .box {
            border-top: 3px solid white;
            color: #cdcdcd;
            // text-align: right;
            a {
                text-decoration: none;
                font-family: $formal;
                font-size : 10vw;
                color: #cdcdcd;
            }
        }
    }
}



@media(max-width: 767px) {
    .projects-list {
        .box {
            // text-align: right;
            a {
                
                color: #fff;
            }
            .view{
                a {
                    font-size: 18px;
                    text-decoration: underline;
                    display: block;
                    margin-bottom: 5px;
                    i {
                        margin-left: 3px;
                        font-size: 20px;
                    }
                }
            }
        }
        .box:nth-of-type(2) {
            text-align: right;
        }
    }
}