.tools {
    min-height: 70vh;
    background-color: $bgcolor;
    color: white;
    padding:  20px 0;
    h1 {
        font-family: $curly;
        font-weight: 900;
        font-size: 12vw;
        text-align: right;
    }
    .tech {
        display: grid;
        place-content: center;
    }
    .laptop {
        font-size: 6vw;
        color: rgb(205, 204, 207);
    }
}
