@import url('http://fonts.cdnfonts.com/css/ink-free?styles=17833');
@import './variables';
@import './about';
@import './experience';
@import './education';
@import './tools';
@import './project';
@import './contact';
// @import './scroll';
                

.top {
    background-color: #2679d5;
    min-height: 5px;
}


section {
    overflow: hidden;
}
.summary {
    background-color: #2679d5;
    color: white;
    padding: 10px 5px;
    display: grid;
    place-content: center;
    min-height: 10vh;
}


.btn {
    padding: 5px 10px;
}



