@import url("http://fonts.cdnfonts.com/css/ink-free?styles=17833");
.about {
  min-height: 50vh;
  background-color: #00000a;
  color: white;
  padding: 20px 0;
}
.about h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 900;
  font-size: 12vw;
}

@media (max-width: 768px) {
  .about p {
    text-align: center;
  }
  .about img {
    width: 80%;
    margin: auto 10%;
  }
}
.experience {
  min-height: 50vh;
  background-color: #00000a;
  color: white;
  padding: 20px 0;
}
.experience h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 900;
  font-size: 12vw;
  text-align: right;
}
.experience h5, .experience h6 {
  font-style: italic;
}
.experience .first {
  position: relative;
  background-color: rgba(48, 48, 68, 0.3);
  background-attachment: fixed;
}
.experience .first::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -3%;
  left: -11px;
}
.experience .first::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -3%;
  left: -11px;
}
.experience .work {
  position: relative;
}
.experience .work::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 2px;
  height: 120%;
  top: -10%;
  left: -18px;
}
.experience .work::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 7px;
  height: 2px;
  top: 20%;
  left: -18px;
}

.education {
  min-height: 20vh;
  background-color: #00000a;
  color: white;
  padding: 20px 0;
}
.education h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 900;
  font-size: 12vw;
}
.education h5, .education h6 {
  font-style: italic;
}
.education .first {
  position: relative;
  background-color: rgba(48, 48, 68, 0.4);
}
.education .first::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -10%;
  left: -11px;
}
.education .first::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -10%;
  left: -11px;
}
.education .work {
  position: relative;
}
.education .work::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 2px;
  height: 120%;
  top: -10%;
  left: -18px;
}
.education .work::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 7px;
  height: 2px;
  top: 50%;
  left: -18px;
}

.tools {
  min-height: 50vh;
  background-color: #00000a;
  color: white;
  padding: 20px 0;
}
.tools h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 900;
  font-size: 12vw;
  text-align: right;
}

.project {
  min-height: 50vh;
  background-color: #00000a;
  color: white;
  padding: 20px 0;
}
.project h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 900;
  font-size: 12vw;
}

.contact {
  min-height: 50vh;
  background-color: #00000a;
  color: white;
  padding: 20px 0;
}
.contact h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 900;
  font-size: 12vw;
  text-align: right;
}
.contact input[type=text], .contact textarea {
  font-size: 13px;
  padding: 10px;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: transparent;
}
.contact .btn-contact {
  background-color: white;
  color: #1a1a1F;
  font-weight: bold;
  padding: 10px 35px;
}

.top {
  background-color: #2679d5;
  min-height: 5px;
}

section {
  overflow: hidden;
}

.summary {
  background-color: #2679d5;
  color: white;
  padding: 10px 5px;
  display: grid;
  place-content: center;
  min-height: 10vh;
}

.btn {
  padding: 5px 10px;
}/*# sourceMappingURL=style.css.map */