@import url('http://fonts.cdnfonts.com/css/ink-free?styles=17833');
@import './variables';
@import './about';
@import './experience';
@import './education';
@import './tools';
@import './project';
@import './contact';
@import './header';
@import './footer';



body {
    font-family: $oxygen;
}


.top {
    background-color: #2679d5;
    min-height: 5px;
}


section {
    overflow: hidden;
}
.summary {
    border:none;
    color: #cdcdcd;
    background-color: #00000a;
    padding: 10px 5px;
    display: grid;
    place-content: center;
    min-height: 10vh;
    font-family: $formal;
}


.btn {
    padding: 5px 10px;
}


